* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

:root {

    --green: #0bceaf;
    --black: #212529;
}
body {

    background-color: var(--black);
}
.green {
    color: var(--green);
}
.bg-green {
    background-color: var(--green);
    color: white;
}
.text-oswald {
    font-family: 'Oswald', sans-serif;
}
.logo {
    color: var(--green);
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
h2::first-letter {
    color: var(--green);
    font-size: 50px !important;
}
.box-icon {
    margin-left: -17px;
    opacity: 0.4;
    position: absolute;
    top: 8px;
}
.menu li a {
    border-bottom: 2px solid var(--black);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.menu li a:hover {
    color: var(--green) !important;
    border-bottom: 2px solid var(--green);

}
.green-bg-text {
    font-size: 14px;
    background-color: var(--green);
    padding: 10px;
    width: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;

}
.main-text {
    font-size: 50px;
}
.social-links i {
    border: 1px solid var(--green);
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--green);
    cursor: pointer;

}
.right-img {
    border: 20px solid rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.right-img img {
    border: 20px solid rgba(0, 0, 0, 0.17);
}
.progress-circle {
    position: relative;
    float: left;
    text-align: center;
}
.progress-circle strong {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
}
.progress-circle span {
    display: block;
    color: white;
}
.horizontal-progress .progress {
    height: 7px;
}
.horizontal-progress .progress .progress-bar {
    background-color: var(--green);
}
.education-div, .education-div {
    box-shadow: 1px 1px 7px 4px #181818;
    padding: 40px;
}
.recent-portfolio ul li.current {
    border-bottom: 2px solid var(--green);
}
.recent-portfolio ul li {
    cursor: pointer;
}
.portfolio {
    column-count: 3;
    column-gap: 15px;
    margin: 0;
    padding: 0 0;
}
.recent-portfolio-section .portfolio .custom-col {
    margin-bottom: 20px;
}
#gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}
#gallery img {
    width: 100%;
    height: auto;
    /* margin: 0px 0px 20px auto; */
    /*box-shadow: -3px 5px 15px #000;
    */
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    z-index: 0;
}
#gallery .gallery_img_div::before {
    top: -120%;
}
#gallery .gallery_img_div::after {
    bottom: -120%;
}
#gallery .gallery_img_div::before, #gallery .gallery_img_div::after {
    content: "";
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(8, 206, 175, 0.87);
    color: white;
    z-index: 1;
    transition: 0.9s all;
    -webkit-transition: 0.9s all;
    -moz-transition: 0.9s all;
    -ms-transition: 0.9s all;
    -o-transition: 0.9s all;
}
#gallery .gallery_img_div:hover::before {
    top: -50%;
}
#gallery .gallery_img_div:hover::after {
    bottom: -50%;
}
.pricing-div {
    background-color: #202026;
    padding: 50px;
    box-shadow: 1px 1px 6px 4px #1d1d22;
}
.pricing-div button, .post-div button {
    border: 2px solid var(--green);
    border-radius: 30px;
    padding: 10px 35px;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;

}
.pricing-div button:hover, .post-div button:hover {
    background-color: var(--green);
    color: #202026;
}
.post-div .card {
    box-shadow: 0px 0px 10px 2px black inset;
    padding: 10px 20px;
}
.post-div img {
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:1200px) {
    #gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;

        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
}

@media (max-width:800px) {
    #gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
}

@media screen and (max-width:576px) {
    .menu .navbar-toggler
    {
        border: 1px solid var(--green);
        color: var(--green);
    }
    .main-text {
        font-size: 40px;
    }
    .green-bg-text
    {
        width: 35%;
    }
    .professional-row
    {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .professional-row .col-lg-4
    {
        margin-bottom: 13px;
    }
    .education-div
    {
        margin-bottom: 25px;
    }
    .portfolio-ul
    {
        flex-direction: column;
        text-align: center;
        width: 50% !important;
        padding-top: 20px !important;
    }  
    .portfolio-ul li
    {
        margin-bottom: 10px;
    } 
    #gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin-top: 30px;
    }
    .post-div button
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        padding: 10px 0px;
    }
}